html {
    scroll-behavior: smooth;
}

body, html {
    overflow: auto;
}

body {
    font-family: Inter;
    margin: 0px;
    padding: 0px;
    background-color: #131e3d;
}

.cabecalho {
    background-color: #131e3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 40px;
}

.cabecalho img {
    width: 300px;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.menu-hamburguer .bar {
    width: 30px;
    height: 3px;
    background-color: white;
}

.texto-sobre-imagem {
    position: absolute;
    border-radius: 5px;
    text-align: center; /* Centraliza o texto dentro da div */
    padding-left: 100px;
    width: 40%;
    margin-top: 30px;
    background-color: red;    
}

.texto-sobre-imagem h1 {
    color: #cdad7d;
    font-size: 72px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
}

.texto-sobre-imagem p {
    color: #eeead6;
    font-size: 22px;
    font-family: "Libre Baskerville", serif;
}

.formula span p, .treinamentos p, .missao-card p{
    color: white;
    font-size: 18px;
    text-align: center;
}


.secao-assuntos p {
    font-size: 18px;
    text-align: center;
}


.botao {
    background-color: #131e3d;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width:250px;
    text-align: center;
    display: inline-block;
}

.botao:hover {
    background-color: #cdad7d;
    color: #131e3d;
}

.menu {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-end;

}

.secao-inicial {
    justify-content: center; /* Centraliza o conteúdo dentro da seção */
    align-items: center; /* Alinha verticalmente */
}

.imagem-background {
    flex-grow: 1;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Para o texto ficar sobre a imagem */
    height: 580px; /* Altura fixa da div */
    width: 100%;
}

.imagem-background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('images/bg-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.texto-sobre-imagem .botao2 {
    width: 250px;
    background-color: #cdad7d;
    color: white;
    margin-top: 30px;
    height: 60px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}


.texto-sobre-imagem a {
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;  
}

.texto-sobre-imagem .botao2:hover {
    background-color: white;
    color: #cdad7d;
}

.botao-resolucao {
    width: 300px;
    background-color: #cdad7d;
    color: white;   
    margin-top: 30px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-resolucao:hover, .botao2:hover {
    background-color: #131e3d;
}

.servicos, .quem-somos, .formula, .solucoes, .contato , .assuntos {
    padding: 50px 30px;
}

.servicos p {
    padding: 30px;
    text-align: center;
}

.resolucao , .solucoes, .quem-somos, .contato, .secao-contato, .assuntos {
    background-color: #f4f1ec;   
}

.formula {
    height: auto;
    background-image: url('images/research-bg.png');
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

.formula img {
    width: 100%;
}


.treinamentos, .clientes, .quem-somos {
    background-color: #131e3d;

}

.resolucao h1, .solucoes h1 , .contato h1, .assuntos h1{
    color: #131e3d;
    font-family: "Libre Baskerville", serif;
    font-size: 32px;
}

.servicos h1, .formula h1, .treinamentos h1 , .clientes h1, .quem-somos h1{
    color: #cdad7d;
    font-family: "Libre Baskerville", serif;
    font-size: 32px;
}

h1, h2 {
    text-align: center;
    font-size: 32px;
    padding-top: 30px;
}

.secao-servicos, .secao-clientes {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas de tamanhos iguais */
    gap: 10px; /* Espaçamento entre as colunas */
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo dentro de cada coluna */;
}

.secao-treinamentos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas de tamanhos iguais */
    gap: 10px; /* Espaçamento entre as colunas */
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo dentro de cada coluna */;
}

.secao-formula {
    display: flex; /* Para alinhar as caixas horizontalmente */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
    text-align: center; /* Centraliza o texto dentro das caixas */
    margin: 20px;
    padding-top: 50px;
}


.secao-formula > div {  /* Aplica o estilo individualmente a cada bloco */
    background-color: white;
    border-radius: 5px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombras para destacar os blocos */
    flex: 1;
}

.formula-content, .secao-formula {
    margin-left: 100px;
    margin-right: 100px;
}

.formulas-standart {
    margin-left: 100px;
}

.formulas-premium {
    margin-right: 100px;
}

.formula-domissanitario {
    display: flex;
    flex-direction: column;
}

.coluna, .coluna2 {
    padding-bottom: 10px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.secao-servicos .coluna, .secao-treinamentos .coluna {
    background-color: #eeead6;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.secao-servicos .coluna:hover, .secao-treinamentos .coluna:hover, .secao-treinamentos .coluna2:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adiciona um leve sombreado */
}

.coluna-solucoes{
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
    height: auto;
}

.coluna-solucoes div {
    background-color: white;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.coluna-solucoes span p {
    font-size: 16px;
}

.coluna-assuntos {
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
    
}

.coluna-assuntos-div {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.coluna-assuntos p {
    margin: 10px;
}


.coluna-AFE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.coluna-AFE > div {
    background-color: white;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

}

.coluna-resolucao, .coluna-garantia {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 30px;
    
}


.check-resolucao, .check-garantia {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;    
    }

.check-garantia{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.check-resolucao img, .check-garantia img, .coluna img, .coluna2 img, .coluna-solucoes img {
    width: 50px;
    height: 50px;
}

.coluna img, .coluna2 img {
    margin-bottom: 10px; /* Espaço entre o ícone e o título */
    margin-top: 40px;
    
}

.coluna h3 , .coluna2 h3, .coluna-resolucao h3, .resolucao h3, .coluna-formula h3, .coluna-solucoes h3, .secao-solucoes h3, .coluna-assuntos h3 {
    margin: 10px 0; /* Espaçamento entre o título e o texto */
    font-size: 22px; /* Tamanho do título */
    color: black;
}

.check-garantia p {
    font-size: 18px;
}

h3 {
    color: white;
}

.coluna p, .coluna2 p, .clientes-card p, .check-resolucao p, .coluna-solucoes p {
    font-size: 18px; /* Tamanho do texto */
    color: #666; /* Cor do texto */
}

.secao-resolucao img {
    border-radius: 10px;
    width: 80%;
}

.secao-resolucao {
    display: flex;
    flex-direction: row; 
    padding: 20px;
    margin: 20px;
    align-items: center;
    text-align: center; /* Centraliza o conteúdo dentro de cada coluna */
}

.coluna-resolucao img {
    width: 50px;
    height: 50px;
}

.coluna-resolucao {
    display: flex;
    flex-direction: row;
}

.content-resolucao {
    display: flex;
    flex-direction: column;
}

.quem-somos {
    color: #666;
    text-align: center;
}

.star-icone {
    height: 30px;
    width: 30px;
}

.clientes-card {
    border: 1px solid #dae0e8;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.redes img, .redes p, .redes a {
    cursor: pointer;
    color: black;
}

.redes {
    margin: 20px;
}

.redes-nome {
    display: flex;
    gap: 20px;
    margin: 20px;
    align-items: center;
}

.redes-nome a:hover {
    font-weight: bold;
}

.rodape img {
    width: 20%;
}

.rodape {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
}


.secao-inicial span {
    color: #cdad7d;
    font-size: 28px;
}

.text-resolucao {
    text-align: center;
    align-items: center;
}

.text-resolucao p {
    color: black
}

.text-resolucao span {
    font-weight: bold;
}

.quem-somos-team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    
}

.quem-somos-img1 {
    border-radius: 50%;
    background-image: url(./images/laila.png);
    background-size: cover;
    background-position: initial;
    width: 150px;
    height: 150px;
    border: 2PX solid#131e3d;
    margin-top: 10px;
}


.quem-somos-img2 {
    border-radius: 50%;
    background-image: url(./images/tino.png);
    background-size: cover;
    background-position: initial;
    width: 150px;
    height: 150px;
    border: 2PX solid#131e3d;
    margin-top: 10px;
}

.quem-somos-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    
}

.clientes {
    display: none;
}

.quem-somos-card h3 {
    color: #131e3d;
}


.quem-somos-card span {
    color: #131e3d;
}

.quem-somos-card p {
    margin: 5px;
}

.quem-somos-missao p {
    color: #f4f1ec;
}

.quem-somos-missao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secao-missao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid white;
    margin: 100px;
    border-radius: 10px;
}


.missao-card {
    padding: 20px;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .menu {
        display: none;
    }

    
    .cabecalho img {
        width: 200px;
    }

    .menu-hamburguer {
        display: flex;
        padding-right: 30px;
    }

    .menu a {
        font-size: 18px;
        padding: 10px;

    }

    .menu.open {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        position: absolute;
        top: 70px; /* Ajuste conforme o seu layout */
        right: 0;
        background-color: #131e3d;
        width: auto;
        padding: 20px;
        z-index: 1000;
    }

    .menu.open a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .menu.open a:hover {
        background-color: #cdad7d;
        color: #131e3d;
        }

    .resolucao h1, .solucoes h1 , .contato h1 , .assuntos h1 {
        color: #131e3d;
        font-family: "Libre Baskerville", serif;
        font-size: 22px;
    }
    
    .servicos h1, .formula h1, .treinamentos h1 , .clientes h1, .quem-somos h1 {
        color: #cdad7d;
        font-family: "Libre Baskerville", serif;
        font-size: 22px;
    }

    .texto-sobre-imagem {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
        margin-top: 20px;
        background-color: red;
        
    }

    .imagem-background::before {
        background-image: url('images/bg_inicial.jpg');
        opacity: 30%;
    }

    
    .texto-sobre-imagem h1 {
        font-size: 46px;    
    }

    .texto-sobre-imagem span {
        font-size: 24px;
    }

    .texto-sobre-imagem p {
        font-size: 20px;     
    }

    .secao-servicos, .secao-treinamentos, .coluna-assuntos {
        grid-template-columns: repeat(2, 1fr);
        
    }
    .secao-servicos h3 {
        font-size: 16px;
    }

    .coluna img, .coluna2 img {
        width: 30px; /* Define o tamanho do ícone */
        height: auto;
    }

    .secao-formula {
        display: flex; /* Para alinhar as caixas horizontalmente */
        flex-direction: column;
        margin: 40px;
    }

    .formula {
        height: auto;
    }
    
    .quem-somos-team, .coluna-solucoes, .coluna-assuntos {
        grid-template-columns: 1fr;
        margin-left: 10px;
        margin-right: 10px;
    }

    .coluna-solucoes p, .text-resolucao p, .secao-formula p, .missao-card p {
        font-size: 16px;
    }
    
    .secao-resolucao {
        flex-direction: column;    
    }

    .secao-servicos .coluna, .secao-treinamentos .coluna {
        padding: 10px;
    }


    .secao-servicos .coluna2, .secao-treinamentos .coluna2 {
        background-color: #E8D1AE;
        padding: 10px;
    }

    .coluna:hover, .coluna2:hover {
        background-color: #eeead6;
    }

    .secao-missao {
    margin: 20px;
    }

    .check-resolucao img , .check-garantia img {
        width: 40px;
        height: 40px;
    }

    .coluna-garantia {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .coluna-assuntos {
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
    }

    
    .formula-content{
        margin-left: 20px;
        margin-right: 20px;
    }

    .formulas-standart {
        margin-left: 0px;
    }

    .formulas-premium {
        margin-right: 0px;
    }

    .secao-contato {
        display: flex;
        justify-content: center;
    }

    .servicos, .quem-somos, .formula, .solucoes, .contato , .assuntos {
        padding: 20px 0px;
        margin: 0px 0px;
    }
}